.faq {
    background-color: var(--main-color);
    color: white;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.title-faq {
    text-transform: uppercase;
}

.faq-text {
    padding-bottom: 16px;
    line-height: 24px;
    text-align: center;
}

.buttom-faq {
    background-color: var(--secundary-color);
    border: 2px solid var(--third-color);
    padding: 8px 48px;
    text-transform: uppercase;
    font-weight: var(--black);
    border-radius: 64px;
}

.buttom-faq:hover {
    background-color: var(--third-color);
    border: 2px solid var(--secundary-color);
}